<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='https://res.cloudinary.com/roro-personal/image/upload/v1546480599/IMG_0258.jpg', alt='rohan')
        .dev-intro-box

          h5 Rohan Swaby

          p Good day! welcome to my portfolio. Go ahead and have look around. 😃 🚀

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Rohan Swaby

      block content

  script(src='/static/js/script.js')